<h1>Burgers</h1>

<form action="/" method="POST">
<h3>Buy a burger?</h3>
  <div class="input-field">
    <label for="burger_name">Burger Name</label>
    <input type="text" name="burger_name" id="burger_name" placeholder="Burger Name" />
  </div>
  <button>Submit</button>
</form>

<div>
  <h3>Available Burgers:</h3>